@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.darkMode {
	color: white;
	background-color: black;
}

.tblHdr {
	height: 3rem;
	border: 5px double white;
	text-align: center;
	font-size: x-large;
}

.tblRow {
	height: 3rem;
}

table {
	width:75%;
	border: 6px solid white;
}

.tblData {
	border: 5px double white;
	text-align: center;
}

.login {
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.viewMain {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.welcome {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}

.viewThouhgts {
    width: 500px;
    margin-top: 30px;
}

.main {
	padding: 20px;
	border: 10px;
	border-color: white;
	border-style: double;
	display: flex;
	justify-content: space-around;
}

label {
	font-family: cursive;
	font-weight: bolder;
}

input {
	width: 250px;
}

.loginRow {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.login {
	padding:10px;
	width: 400px;
	border: solid 4px;
	border-color: white;
}

.botBtn {
	display: flex;
	justify-content: center;
}

.loginHdr {
	margin-bottom: 30px;
	text-align: center;
	font-family: cursive;
}

.loginBtn {
	margin-top: 20px;
	background-color: #00ffff;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 3px 3px white;
	cursor: pointer;
}

.books {
	width: 75%;
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
}

.editBtn {
	margin-top: 30px;
	background-color: #81c7f5;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	border: 2px solid black;
	box-shadow: 3px 3px black;
	cursor: pointer;
}

.deleteBtn {
	margin-top: 30px;
	background-color: #ec391a;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	border: 2px solid black;
	box-shadow: 3px 3px black;
	cursor: pointer;
}

.bottomButton {
	display: flex;
	justify-content: flex-start;
	padding-right: 100px;
}

.thoughts {
	margin-top: 10px;
	margin-left: 100px;
	padding-left: 10px;
	border: none;
	border-top: 5px groove black;
	border-bottom: 5px groove black;
}

h6 {
	margin-left: 30px;
}

.blueText {
	margin-bottom: 20px;
	color: aqua;
	font-family: cursive;
}