h1 {
	text-align: center;
}
.border {
	width: 90%;
	border-bottom: 2px solid black;
	margin: 0 auto;
	margin-bottom: 40px;
}
.form {
	width: 90%;
	border: 2px solid black;
	margin: 0 auto;
}

p {
	margin-left: 20px;

	
}
